.projectsSection {
  padding: 5rem 4rem;
  background-color: #1f0d2b;
}

.titleWrapper {
  text-align: center;
  margin-bottom: 3rem;
}

.title {
  font-size: 1.8rem;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  position: relative;
  color: var(--color-light);
}

.underline {
  width: 80px;
  height: 3px;
  margin: 0 auto;
  background: linear-gradient(90deg, #4b6bfb, #64ffda);
  border-radius: 2px;
}

.filters {
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.filterBtn {
  background: #39295a;
  border: none;
  padding: 0.5rem 1.5rem;
  border-radius: 20px;
  color: #bbb;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.filterBtn:hover {
  background-color: var(--color-primary);
  color: white;
}

.active {
  background-color: var(--color-primary);
  color: white;
}

.projectsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap:3.5rem;
}

.projectCard {
  background-color: #282438;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
  color: #e0e0e0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease;
}

.projectCard:hover {
  transform: translateY(-4px);
}


.projectImage {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.projectContent {
  padding: 1rem;
}

.projectTitle {
  font-size: 1rem;
  margin-bottom: 0.5rem;
    color: #45deba;
}

.projectDescription {
  font-size: 0.85rem;
  margin-bottom: 0.8rem;
}

.projectMeta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.7rem;
  margin-bottom: 0.8rem;
}

.metaItem {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.status {
  padding: 0.1rem 0.4rem;
  border-radius: 12px;
  font-weight: 600;
  font-size: 0.65rem;
}

.status.completed {
  background-color: #28a74a;
  color: white;
}

.techList {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 0.8rem;
}

.techItem {
  background-color: #3d3d53;
  padding: 0.1rem 0.7rem;
  border-radius: 24px;
  font-size: 0.7rem;
}

.icon {
  color: #28d3ab;
  font-size: 0.75rem;
}

.separator {
  border: none;
  height: 1px;
  background-color: #3d3d53;
  margin: 0.8rem 0;
}

.projectMeta strong {
  color: #bbb;
  margin-right: 0.25rem;
  font-weight: 500;
}

.buttonGroup {
  display: flex;
  gap: 1rem;
}

.viewCodeBtn,
.liveDemoBtn {
  font-size: 0.85rem;
  flex: 1;
  text-align: center;
  padding: 0.4rem 0.5rem;
  border-radius: 10px;
  font-weight: bold;
  text-decoration: none;
  transition: background 0.3s ease;
}

.viewCodeBtn {
  background-color: #3d3d53;
  color: #ccc;
}

.viewCodeBtn:hover {
  background-color: #6f687f;
}

.liveDemoBtn {
background:  #b52edac2;
  color: white;
}

.liveDemoBtn:hover {
  background:  #a111c97c;
}
