@import url(./header.css);
@import url(./home.css);
@import url(./about.css);
@import url(./hobbies.css);
@import url(./portfolio.css);
@import url(./contact.css);
@import url(./footer.css);
@import url(./responsividade.css);

:root {
  --color-primary: #76029c;
  --color-purple-400: #a253bd;
  --color-dark: #0b0d0f;
  --color-light: #f1f1f1;
  --color-grey-200: #b1b1b1;
  --color-grey-400: #939393;
  --color-grey-800: #666666;
  --transition: 0.5s;
  
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  /* font-size: 62.5%; Equivale a 10px */
}

body {
  font-family: "Quicksand", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
}

.container {
  max-width: 1140px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}
