
header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color:var(--color-primary);
  z-index: 1000;
}

/* header.fixed {
  background-color: var(--color-light);
  position: fixed;
  border-color: #eeeeee;
  z-index: 1000;
} */

header .row {
  justify-content: space-between;
  align-items: center;
  margin: 0 10px;
}

header .brand-name .logo {
  text-decoration: none;
  font-size: 22px;
  font-weight: 600;
  margin-left: 10px;
  color: var(--color-light);
  text-transform: uppercase;
  position: relative;
}


header .navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

header .navbar ul li {
  display: inline-block;
  margin-left: 3.5rem;
}

header .navbar ul li a {
  font-size: 18px;
  text-decoration: none;
  line-height: 72px;
  color: var(--color-light);
  display: block;
  font-weight: 600;
  position: relative;
}

header .navbar ul li a::before {
  content: "";
  height: 1px;
  background-color: var(--color-light);
  width: 0%;
  position: absolute;
  right: 0px;
  bottom: 0px;
  transition: all 0.5s ease;
}

header .navbar ul li a:hover::before {
  width: 100%;
  left: 0;
}
/* header .navbar ul li a.active::before {
  width: 100%;
  left: 0;
} */

/* header.fixed .brand-name a {
  color: var(--color-dark);
}

header.fixed .navbar ul li a {
  color: #000000;
} 

header.fixed .navbar ul li a::before {
  background-color: #9c27b0;
} */


.hamburger .fa {
  font-size: 20px;
  height: 32px;
  width: 35px;
  background-color: var(--color-primary);
  color: var(--color-light);
  border-radius: 3px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  display: none;
  border: 1px solid #eeeeee;
}
