:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

   --color-primary: #76029c;
  --color-primary-light: #a253bd;
  --color-dark: #0b0d0f;
  --color-light: #f1edf4;
  --color-grey-200: #b1b1b1;
  --color-grey-400: #939393;
  --color-grey-800: #666666;
  --transition: 0.5s;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Quicksand", sans-serif;
}

.container {
  max-width: 1140px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

input,
textarea,
button {
  font-family: inherit; /* Herda a fonte do pai */
}